@import url("../css/global.css");

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 35px;
    margin-block-start: 10px;
}

.main {
    display: inline-block;
    margin-inline: 20px;
    margin-block: 30px;

}

.h1 {
    text-align: center;
}

.section_one {
    background-color: var(--color-light-gray);
    padding-block: 30px;
    column-gap: 10px;
}

.section_child {
    margin-inline: 40px;
    margin-block-end: 20px;
    text-align: center;
}

.section_child_img {
    display: flex;
    justify-content: center;
}

.date {
    border-radius: 8% 22%;
    margin-block-end: 20px;
}

.cards {
    background-color: var(--color-light-gray);
    border-radius: 12px;
    padding: 30px;
}

.couple {
    display: grid;
    grid-template-columns: 300px;
    row-gap: 40px;
    margin-inline: 20px;
    justify-content: center;
}

.userPhotos {
    margin-inline: auto;
    margin-block-end: 25px;
    border-radius: 6px;
}

.h2 {
    text-align: center;
}

.find {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    width: 140px;
    border: none;
    background-color: var(--color-pink);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
}

.footer p {
    text-align: center;
    background-color: var(--color-pink);
    color: white;
    font-style: italic;
    margin: 0px;
    padding: 20px;
}

@media (min-width: 1100px) {

    .h1 {
        text-align: end;
    }

    .hero {
        margin-inline: 120px;
    }

    .date {
        margin-inline-start: 80px;
    }

    .h2 {
        margin-block-start: 70px;
    }

    .main {
        display: flex;
        justify-content: space-between;
        margin-block: 60px;
        margin-inline: 40px;
        gap: 10px;
        align-items: center;
    }

    .section_one {
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: center;
    }

    .couple {
        gap: 40px;
        grid-template-columns: 300px 300px 300px;
        margin-inline: 40px;
    }

}

@media (min-width: 750px) {

    .main {
        display: flex;
        justify-content: space-between;
        margin-block: 60px;
        margin-inline: 40px;
        gap: 10px;
        align-items: center;
    }
}